/*for deployment*/ /*
.smaller-image {
    max-width: 20vw;
    max-height: 20vw;
    margin: 5px;
}
*//*For desktop editing*/ 
.smaller-image {
    max-width: 15vw;
    max-height: 15vw;
    margin: 5px;
}
