.smaller-image {
    max-width: 15vw;
    max-height: 15vw;
    margin: 5px;
}

.scene-display-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene-display-firstScene-cabuu {
    width: 18%;
    height: 18%;
}

.scene-display-firstScene-picture {
    height: 50%;
    width: 50%;
}

.scene-display-firstScene-monster {
    height: 30%;
    width: 30%;
}